.hero {
    padding: 7rem 0;
}

.hero-title {
    font-size: clamp(3rem,6vw,5rem);
    line-height: 1.1;
    max-width: 800px;
}

.hero-text {
    font-size: 1.2rem;
    color: var(--ts-muted);
    max-width: 650px;
    margin: 2rem 0;
}

.hero-actions {
    display: flex;
    gap: 1rem;
}